In [1]:
import requests
import json
import pandas as pd
from bs4 import BeautifulSoup

def get_tsa(country):
    country = country.title()
    url = f"https://travel.state.gov/content/travel/en/international-travel/International-Travel-Country-Information-Pages/{country}.html"

    url_html = requests.get(url).text

    soup = BeautifulSoup(url_html)

    return soup.find_all(class_='tsg-rwd-eab-title-frame')

In [2]:
print(get_tsa('canada'))

[<h3 class="tsg-rwd-eab-title-frame">Worldwide Caution</h3>, <h3 class="tsg-rwd-eab-title-frame">Information for U.S. Citizens in the Middle East</h3>, <h3 class="tsg-rwd-eab-title-frame">Canada - Level 1: Exercise Normal Precautions</h3>]

In [46]:
def get_eurostat_data(article_title, time=2020):
    article_title = article_title.upper()
    url = f'https://ec.europa.eu/eurostat/api/dissemination/statistics/1.0/data/{article_title}?format=JSON&lang=EN&time={time}'

    output = requests.get(url).text

    data = json.loads(output)

    return data

In [47]:
raw_data = get_eurostat_data('cult_emp_sex', time = 2019)
raw_data
happiness_idx

{'version': '2.0',
 'class': 'dataset',
 'label': 'Persons being happy in the last 4 weeks by sex, age, educational attainment and frequency',
 'source': 'ESTAT',
 'updated': '2024-04-22T23:00:00+0200',
 'value': {},
 'id': ['freq', 'unit', 'isced11', 'frequenc', 'sex', 'age', 'geo', 'time'],
 'size': [1, 1, 5, 6, 3, 7, 38, 0],
 'dimension': {'freq': {'label': 'Time frequency',
   'category': {'index': {'A': 0}, 'label': {'A': 'Annual'}}},
  'unit': {'label': 'Unit of measure',
   'category': {'index': {'PC': 0}, 'label': {'PC': 'Percentage'}}},
  'isced11': {'label': 'International Standard Classification of Education (ISCED 2011)',
   'category': {'index': {'TOTAL': 0,
     'ED0-2': 1,
     'ED3_4': 2,
     'ED5-8': 3,
     'ED5_6': 4},
    'label': {'TOTAL': 'All ISCED 2011 levels',
     'ED0-2': 'Less than primary, primary and lower secondary education (levels 0-2)',
     'ED3_4': 'Upper secondary and post-secondary non-tertiary education (levels 3 and 4)',
     'ED5-8': 'Tertiary education (levels 5-8)',
     'ED5_6': "Short-cycle tertiary education and Bachelor's or equivalent level (levels 5 and 6)"}}},
  'frequenc': {'label': 'Frequency',
   'category': {'index': {'ALW': 0,
     'MOST': 1,
     'SMT': 2,
     'RAR': 3,
     'NVR': 4,
     'UNK': 5},
    'label': {'ALW': 'Always',
     'MOST': 'Most of the time',
     'SMT': 'Sometimes',
     'RAR': 'Rarely',
     'NVR': 'Never',
     'UNK': 'Unknown'}}},
  'sex': {'label': 'Sex',
   'category': {'index': {'T': 0, 'M': 1, 'F': 2},
    'label': {'T': 'Total', 'M': 'Males', 'F': 'Females'}}},
  'age': {'label': 'Age class',
   'category': {'index': {'Y16-24': 0,
     'Y_GE16': 1,
     'Y25-34': 2,
     'Y35-49': 3,
     'Y50-64': 4,
     'Y65-74': 5,
     'Y_GE75': 6},
    'label': {'Y16-24': 'From 16 to 24 years',
     'Y_GE16': '16 years or over',
     'Y25-34': 'From 25 to 34 years',
     'Y35-49': 'From 35 to 49 years',
     'Y50-64': 'From 50 to 64 years',
     'Y65-74': 'From 65 to 74 years',
     'Y_GE75': '75 years or over'}}},
  'geo': {'label': 'Geopolitical entity (reporting)',
   'category': {'index': {'EU27_2020': 0,
     'BE': 1,
     'BG': 2,
     'CZ': 3,
     'DK': 4,
     'DE': 5,
     'EE': 6,
     'IE': 7,
     'EL': 8,
     'ES': 9,
     'FR': 10,
     'HR': 11,
     'IT': 12,
     'CY': 13,
     'LV': 14,
     'LT': 15,
     'LU': 16,
     'HU': 17,
     'MT': 18,
     'NL': 19,
     'AT': 20,
     'PL': 21,
     'PT': 22,
     'RO': 23,
     'SI': 24,
     'SK': 25,
     'FI': 26,
     'SE': 27,
     'IS': 28,
     'NO': 29,
     'CH': 30,
     'UK': 31,
     'ME': 32,
     'MK': 33,
     'AL': 34,
     'RS': 35,
     'TR': 36,
     'XK': 37},
    'label': {'EU27_2020': 'European Union - 27 countries (from 2020)',
     'BE': 'Belgium',
     'BG': 'Bulgaria',
     'CZ': 'Czechia',
     'DK': 'Denmark',
     'DE': 'Germany',
     'EE': 'Estonia',
     'IE': 'Ireland',
     'EL': 'Greece',
     'ES': 'Spain',
     'FR': 'France',
     'HR': 'Croatia',
     'IT': 'Italy',
     'CY': 'Cyprus',
     'LV': 'Latvia',
     'LT': 'Lithuania',
     'LU': 'Luxembourg',
     'HU': 'Hungary',
     'MT': 'Malta',
     'NL': 'Netherlands',
     'AT': 'Austria',
     'PL': 'Poland',
     'PT': 'Portugal',
     'RO': 'Romania',
     'SI': 'Slovenia',
     'SK': 'Slovakia',
     'FI': 'Finland',
     'SE': 'Sweden',
     'IS': 'Iceland',
     'NO': 'Norway',
     'CH': 'Switzerland',
     'UK': 'United Kingdom',
     'ME': 'Montenegro',
     'MK': 'North Macedonia',
     'AL': 'Albania',
     'RS': 'Serbia',
     'TR': 'Türkiye',
     'XK': 'Kosovo*'}}},
  'time': {'label': 'Time', 'category': {'index': {}, 'label': {}}}},
 'extension': {'lang': 'EN',
  'id': 'ILC_PW08',
  'agencyId': 'ESTAT',
  'version': '1.0',
  'datastructure': {'id': 'ILC_PW08', 'agencyId': 'ESTAT', 'version': '28.0'},
  'annotation': [{'type': 'CREATED', 'date': '2015-03-18T15:26:14+0100'},
   {'type': 'DISSEMINATION_DOI_XML',
    'title': '<adms:identifier xmlns:adms="http://www.w3.org/ns/adms#" xmlns:skos="http://www.w3.org/2004/02/skos/core.html" xmlns:dct="http://purl.org/dc/terms/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"><adms:Identifier rdf:about="https://doi.org/10.2908/ILC_PW08"><skos:notation rdf:datatype="http://purl.org/spar/datacite/doi">10.2908/ILC_PW08</skos:notation><dct:creator rdf:resource="http://publications.europa.eu/resource/authority/corporate-body/ESTAT"/><dct:issued rdf:datatype="http://www.w3.org/2001/XMLSchema#date">2023-01-19</dct:issued></adms:Identifier></adms:identifier>'},
   {'type': 'DISSEMINATION_OBJECT_TYPE', 'title': 'DATASET'},
   {'type': 'ESMS_HTML',
    'title': 'Explanatory texts (metadata)',
    'href': 'https://ec.europa.eu/eurostat/cache/metadata/en/ilc_sieusilc.htm'},
   {'type': 'ESMS_SDMX',
    'title': 'Explanatory texts (metadata)',
    'href': 'https://ec.europa.eu/eurostat/api/dissemination/files?file=metadata/ilc_sieusilc.sdmx.zip'},
   {'type': 'OBS_COUNT', 'title': '54768'},
   {'type': 'OBS_PERIOD_OVERALL_LATEST', 'title': '2022'},
   {'type': 'OBS_PERIOD_OVERALL_OLDEST', 'title': '2013'},
   {'type': 'SOURCE_INSTITUTIONS', 'text': 'Eurostat'},
   {'type': 'UPDATE_DATA', 'date': '2024-04-22T23:00:00+0200'},
   {'type': 'UPDATE_STRUCTURE', 'date': '2024-04-22T23:00:00+0200'}],
  'positions-with-no-data': {'freq': [0],
   'unit': [0],
   'isced11': [0, 1, 2, 3, 4],
   'frequenc': [0, 1, 2, 3, 4, 5],
   'sex': [0, 1, 2],
   'age': [0, 1, 2, 3, 4, 5, 6],
   'geo': [0,
    1,
    2,
    3,
    4,
    5,
    6,
    7,
    8,
    9,
    10,
    11,
    12,
    13,
    14,
    15,
    16,
    17,
    18,
    19,
    20,
    21,
    22,
    23,
    24,
    25,
    26,
    27,
    28,
    29,
    30,
    31,
    32,
    33,
    34,
    35,
    36,
    37],
   'time': []}}}

In [48]:
happiness_idx = get_eurostat_data('ilc_pw08')
happy_series = pd.Series(happiness_idx)

# Convert nested dictionaries to DataFrame
df_dimension = pd.json_normalize(happy_series['dimension'])

# Convert the Series to DataFrame and transpose
df = happy_series.to_frame().T

# Combine DataFrames
df = pd.concat([df.drop('dimension', axis=1), df_dimension.add_prefix('dimension.')], axis=1)

df

,version,class,label,source,updated,value,id,size,extension,dimension.freq.label,...,dimension.geo.category.label.NO,dimension.geo.category.label.CH,dimension.geo.category.label.UK,dimension.geo.category.label.ME,dimension.geo.category.label.MK,dimension.geo.category.label.AL,dimension.geo.category.label.RS,dimension.geo.category.label.TR,dimension.geo.category.label.XK,dimension.time.label
0,2.0,dataset,Persons being happy in the last 4 weeks by sex...,ESTAT,2024-04-22T23:00:00+0200,{},"[freq, unit, isced11, frequenc, sex, age, geo,...","[1, 1, 5, 6, 3, 7, 38, 0]","{'lang': 'EN', 'id': 'ILC_PW08', 'agencyId': '...",Time frequency,...,Norway,Switzerland,United Kingdom,Montenegro,North Macedonia,Albania,Serbia,Türkiye,Kosovo*,Time

In [49]:
url = 'https://ec.europa.eu/eurostat/api/dissemination/statistics/1.0/data/ilc_pw08?format=JSON&time=2022&unit=PC&isced11=TOTAL&isced11=ED0-2&isced11=ED3_4&isced11=ED5-8&isced11=ED5_6&frequenc=ALW&frequenc=MOST&frequenc=SMT&frequenc=RAR&frequenc=NVR&frequenc=UNK&sex=T&sex=M&sex=F&age=Y16-24&age=Y_GE16&age=Y25-34&age=Y35-49&age=Y50-64&age=Y65-74&age=Y_GE75&lang=en'

out = requests.get(url).text
data = json.loads(out)
data

{'version': '2.0',
 'class': 'dataset',
 'label': 'Persons being happy in the last 4 weeks by sex, age, educational attainment and frequency',
 'source': 'ESTAT',
 'updated': '2024-04-22T23:00:00+0200',
 'value': {'5340': 9.5,
  '5321': 17.7,
  '5322': 4.6,
  '5350': 9.8,
  '5333': 24.3,
  '5323': 16.6,
  '5324': 7.9,
  '5326': 8.9,
  '5328': 25.4,
  '5329': 32.1,
  '5320': 19.1,
  '5346': 0.0,
  '5330': 19.5,
  '5331': 24.3,
  '5337': 22.3,
  '5332': 25.8,
  '5335': 13.9,
  '5336': 12.2,
  '5334': 23.4,
  '5352': 23.1,
  '5338': 1.2,
  '5339': 2.8,
  '5349': 8.1,
  '5341': 22.7,
  '5342': 39.4,
  '5343': 13.2,
  '5355': 27.5,
  '5347': 7.4,
  '5344': 1.7,
  '5345': 24.7,
  '5356': 15.7,
  '5416': 24.2,
  '5397': 9.2,
  '5398': 5.1,
  '5426': 26.5,
  '5409': 3.8,
  '5399': 3.9,
  '5400': 0.0,
  '5402': 4.5,
  '5404': 10.8,
  '5405': 28.3,
  '5406': 25.2,
  '5413': 19.1,
  '5408': 18.5,
  '5411': 2.9,
  '5410': 8.2,
  '5428': 6.6,
  '5414': 12.2,
  '5415': 1.5,
  '5425': 10.3,
  '5417': 21.6,
  '5418': 30.6,
  '5419': 2.4,
  '5431': 8.6,
  '5423': 20.6,
  '5421': 14.0,
  '5432': 15.2,
  '5454': 24.1,
  '5435': 7.7,
  '5436': 4.3,
  '5464': 29.4,
  '5447': 4.6,
  '5437': 2.6,
  '5438': 5.7,
  '5440': 11.0,
  '5442': 8.5,
  '5443': 27.0,
  '5434': 16.2,
  '5444': 16.4,
  '5445': 2.2,
  '5451': 10.4,
  '5441': 5.5,
  '5446': 15.9,
  '5449': 12.1,
  '5450': 20.6,
  '5448': 13.2,
  '5466': 4.9,
  '5452': 3.7,
  '5453': 9.8,
  '5463': 7.4,
  '5455': 9.1,
  '5456': 18.5,
  '5457': 2.7,
  '5469': 6.0,
  '5461': 26.3,
  '5458': 11.0,
  '5459': 10.5,
  '5470': 15.1,
  '5492': 11.1,
  '5473': 9.2,
  '5474': 0.8,
  '5502': 15.8,
  '5485': 6.4,
  '5475': 3.0,
  '5476': 6.3,
  '5478': 2.6,
  '5480': 11.4,
  '5481': 21.8,
  '5472': 14.1,
  '5498': 11.8,
  '5482': 14.3,
  '5483': 3.9,
  '5489': 7.5,
  '5479': 1.8,
  '5484': 12.1,
  '5487': 2.0,
  '5488': 17.1,
  '5486': 2.4,
  '5504': 4.9,
  '5490': 4.8,
  '5491': 11.0,
  '5501': 10.9,
  '5493': 10.8,
  '5494': 19.3,
  '5495': 4.9,
  '5507': 4.1,
  '5499': 10.6,
  '5496': 8.2,
  '5497': 4.0,
  '5508': 16.0,
  '5530': 13.3,
  '5511': 15.2,
  '5512': 0.7,
  '5540': 19.7,
  '5523': 6.9,
  '5513': 3.5,
  '5514': 6.5,
  '5516': 5.7,
  '5518': 10.8,
  '5519': 24.7,
  '5510': 13.3,
  '5536': 10.8,
  '5520': 17.2,
  '5521': 2.3,
  '5527': 6.7,
  '5517': 11.0,
  '5522': 8.5,
  '5525': 9.7,
  '5526': 18.3,
  '5524': 3.1,
  '5542': 5.0,
  '5528': 4.5,
  '5529': 13.4,
  '5539': 13.4,
  '5531': 5.0,
  '5532': 16.9,
  '5533': 1.8,
  '5545': 2.9,
  '5537': 5.0,
  '5534': 10.8,
  '5535': 2.9,
  '5546': 15.9,
  '5378': 13.6,
  '5359': 11.5,
  '5360': 2.1,
  '5388': 19.3,
  '5371': 7.7,
  '5361': 5.1,
  '5362': 8.0,
  '5364': 5.7,
  '5366': 10.0,
  '5367': 23.7,
  '5358': 13.9,
  '5384': 9.0,
  '5368': 15.7,
  '5369': 3.0,
  '5375': 8.9,
  '5365': 8.6,
  '5370': 11.3,
  '5373': 7.2,
  '5374': 15.3,
  '5372': 8.3,
  '5390': 7.4,
  '5376': 4.9,
  '5377': 10.8,
  '5387': 9.7,
  '5379': 10.6,
  '5380': 18.3,
  '5381': 3.8,
  '5393': 6.2,
  '5385': 11.1,
  '5382': 13.5,
  '5383': 8.3,
  '5394': 15.2,
  '5568': 11.9,
  '5549': 10.3,
  '5550': 0.6,
  '5578': 24.6,
  '5561': 7.2,
  '5551': 3.1,
  '5552': 13.7,
  '5554': 2.4,
  '5556': 6.7,
  '5557': 19.1,
  '5548': 10.1,
  '5574': 10.6,
  '5558': 11.9,
  '5559': 1.6,
  '5565': 2.2,
  '5555': 14.8,
  '5560': 7.0,
  '5563': 5.7,
  '5564': 6.4,
  '5562': 4.7,
  '5580': 5.2,
  '5566': 4.5,
  '5567': 14.6,
  '5577': 9.1,
  '5569': 5.3,
  '5570': 12.7,
  '5571': 0.9,
  '5583': 2.7,
  '5575': 7.4,
  '5572': 10.7,
  '5573': 1.1,
  '5584': 11.2,
  '5074': 19.4,
  '5055': 16.7,
  '5056': 14.9,
  '5084': 12.4,
  '5067': 16.2,
  '5057': 4.3,
  '5058': 16.5,
  '5060': 3.8,
  '5062': 23.6,
  '5063': 35.8,
  '5054': 25.0,
  '5080': 13.3,
  '5064': 29.7,
  '5065': 17.5,
  '5071': 15.2,
  '5066': 30.2,
  '5069': 16.3,
  '5070': 12.5,
  '5068': 38.7,
  '5086': 27.5,
  '5072': 5.6,
  '5073': 21.5,
  '5083': 14.2,
  '5075': 27.3,
  '5076': 41.3,
  '5077': 13.4,
  '5089': 25.9,
  '5081': 15.0,
  '5078': 11.8,
  '5079': 35.6,
  '5090': 17.4,
  '5150': 13.8,
  '5131': 19.6,
  '5132': 11.6,
  '5160': 25.3,
  '5143': 31.9,
  '5134': 11.4,
  '5136': 1.0,
  '5138': 3.5,
  '5139': 29.1,
  '5156': 4.9,
  '5140': 26.1,
  '5147': 24.7,
  '5142': 21.2,
  '5146': 23.1,
  '5148': 8.0,
  '5149': 21.8,
  '5159': 14.7,
  '5151': 22.0,
  '5152': 36.5,
  '5153': 13.7,
  '5165': 18.0,
  '5157': 15.2,
  '5155': 34.4,
  '5166': 14.9,
  '5188': 20.2,
  '5169': 13.0,
  '5170': 2.5,
  '5198': 16.6,
  '5181': 6.0,
  '5171': 0.0,
  '5172': 5.9,
  '5174': 6.8,
  '5176': 11.5,
  '5177': 26.8,
  '5168': 17.7,
  '5194': 3.8,
  '5178': 23.1,
  '5179': 5.1,
  '5185': 11.3,
  '5175': 15.6,
  '5180': 11.5,
  '5183': 11.5,
  '5184': 11.2,
  '5182': 4.9,
  '5200': 4.0,
  '5186': 5.9,
  '5187': 14.0,
  '5197': 8.7,
  '5189': 8.8,
  '5190': 28.5,
  '5191': 3.1,
  '5203': 5.0,
  '5195': 18.6,
  '5192': 19.5,
  '5193': 12.9,
  '5204': 15.4,
  '5226': 12.3,
  '5207': 15.3,
  '5208': 2.4,
  '5236': 22.6,
  '5219': 8.3,
  '5209': 0.0,
  '5210': 6.6,
  '5212': 3.6,
  '5214': 11.8,
  '5215': 24.6,
  '5206': 15.9,
  '5232': 10.6,
  '5216': 17.3,
  '5217': 1.4,
  '5223': 8.6,
  '5213': 6.5,
  '5218': 11.8,
  '5221': 3.1,
  '5222': 15.5,
  '5220': 0.9,
  '5238': 3.1,
  '5224': 4.7,
  '5225': 16.6,
  '5235': 10.9,
  '5227': 8.4,
  '5228': 21.6,
  '5229': 8.5,
  '5241': 1.9,
  '5233': 12.1,
  '5230': 9.4,
  '5231': 3.0,
  '5242': 16.6,
  '5264': 22.8,
  '5245': 17.4,
  '5246': 1.6,
  '5274': 34.7,
  '5257': 10.1,
  '5247': 2.9,
  '5248': 13.6,
  '5250': 7.7,
  '5252': 11.9,
  '5253': 31.8,
  '5244': 17.8,
  '5270': 12.8,
  '5254': 21.5,
  '5255': 1.4,
  '5261': 7.3,
  '5251': 9.4,
  '5256': 9.0,
  '5259': 3.2,
  '5260': 19.3,
  '5258': 6.6,
  '5276': 1.9,
  '5262': 9.8,
  '5263': 20.2,
  '5273': 22.1,
  '5265': 2.9,
  '5266': 27.0,
  '5267': 1.3,
  '5279': 4.6,
  '5271': 8.2,
  '5268': 9.9,
  '5269': 2.1,
  '5280': 16.6,
  '5112': 17.7,
  '5093': 16.2,
  '5094': 4.3,
  '5122': 18.9,
  '5105': 11.2,
  '5095': 2.4,
  '5096': 12.5,
  '5098': 5.3,
  '5100': 12.5,
  '5101': 28.2,
  '5092': 18.3,
  '5118': 12.1,
  '5102': 21.8,
  '5103': 2.6,
  '5109': 11.6,
  '5099': 9.9,
  '5104': 12.3,
  '5107': 9.9,
  '5108': 15.8,
  '5106': 9.1,
  '5124': 8.1,
  '5110': 6.5,
  '5111': 19.7,
  '5121': 13.1,
  '5113': 15.5,
  '5114': 26.3,
  '5115': 7.2,
  '5127': 7.7,
  '5119': 13.4,
  '5116': 10.7,
  '5117': 19.1,
  '5128': 16.0,
  '5302': 13.0,
  '5283': 17.2,
  '5284': 1.6,
  '5312': 23.0,
  '5295': 8.6,
  '5285': 1.8,
  '5286': 18.2,
  '5288': 9.1,
  '5290': 12.1,
  '5291': 26.5,
  '5282': 15.9,
  '5308': 15.7,
  '5292': 18.4,
  '5293': 1.4,
  '5299': 8.7,
  '5289': 10.1,
  '5294': 9.2,
  '5297': 3.5,
  '5298': 18.6,
  '5296': 2.4,
  '5314': 2.7,
  '5300': 5.1,
  '5301': 25.5,
  '5311': 12.0,
  '5303': 6.2,
  '5304': 23.7,
  '5305': 2.1,
  '5317': 1.5,
  '5309': 11.1,
  '5306': 11.0,
  '5307': 1.8,
  '5318': 13.8,
  '4808': 14.7,
  '4789': 17.2,
  '4790': 9.1,
  '4818': 11.2,
  '4801': 20.4,
  '4791': 9.9,
  '4792': 13.4,
  '4794': 6.2,
  '4796': 24.5,
  '4797': 34.2,
  '4788': 22.2,
  '4814': 7.3,
  '4798': 24.8,
  '4799': 21.1,
  '4805': 19.4,
  '4795': 29.7,
  '4800': 27.7,
  '4803': 15.3,
  '4804': 12.3,
  '4802': 30.7,
  '4820': 25.1,
  '4806': 3.9,
  '4807': 12.7,
  '4817': 11.4,
  '4809': 25.4,
  '4810': 40.4,
  '4811': 13.3,
  '4823': 26.7,
  '4815': 11.5,
  '4812': 8.0,
  '4813': 30.4,
  '4824': 16.6,
  '4884': 18.5,
  '4865': 15.1,
  '4866': 7.8,
  '4894': 26.0,
  '4877': 18.6,
  '4867': 3.4,
  '4868': 6.7,
  '4870': 2.2,
  '4872': 6.8,
  '4873': 28.8,
  '4864': 20.5,
  '4890': 3.2,
  '4874': 25.6,
  '4881': 21.1,
  '4876': 20.2,
  '4879': 8.8,
  '4880': 11.8,
  '4878': 6.9,
  '4896': 6.7,
  '4882': 9.4,
  '4883': 14.3,
  '4893': 13.0,
  '4885': 21.8,
  '4886': 33.6,
  '4887': 8.1,
  '4899': 12.8,
  '4891': 17.5,
  '4888': 39.2,
  '4889': 21.5,
  '4900': 15.1,
  '4922': 22.7,
  '4903': 10.4,
  '4904': 3.4,
  '4932': 22.1,
  '4915': 5.3,
  '4905': 1.8,
  '4906': 5.8,
  '4908': 8.2,
  '4910': 10.1,
  '4911': 26.9,
  '4902': 17.0,
  '4928': 4.8,
  '4912': 19.8,
  '4913': 3.3,
  '4919': 10.8,
  '4909': 10.9,
  '4914': 13.3,
  '4917': 11.8,
  '4918': 16.6,
  '4916': 9.2,
  '4934': 4.6,
  '4920': 5.0,
  '4921': 12.1,
  '4931': 8.3,
  '4923': 8.9,
  '4924': 23.9,
  '4925': 2.9,
  '4937': 5.5,
  '4929': 22.0,
  '4926': 14.9,
  '4927': 11.7,
  '4938': 15.3,
  '4960': 11.4,
  '4941': 12.3,
  '4942': 1.6,
  '4970': 19.4,
  '4953': 7.3,
  '4943': 2.1,
  '4944': 6.5,
  '4946': 3.2,
  '4948': 11.6,
  '4949': 23.2,
  '4940': 15.0,
  '4966': 11.0,
  '4950': 15.7,
  '4951': 3.0,
  '4957': 7.9,
  '4947': 4.6,
  '4952': 11.9,
  '4955': 2.5,
  '4956': 16.5,
  '4954': 1.6,
  '4972': 4.2,
  '4958': 4.7,
  '4959': 13.6,
  '4969': 10.9,
  '4961': 9.7,
  '4962': 20.4,
  '4963': 6.5,
  '4975': 3.2,
  '4967': 11.2,
  '4964': 8.7,
  '4965': 3.7,
  '4976': 16.2,
  '4998': 15.9,
  '4979': 16.1,
  '4980': 1.0,
  '5008': 24.4,
  '4991': 8.3,
  '4981': 3.4,
  '4982': 9.7,
  '4984': 6.8,
  '4986': 11.2,
  '4987': 27.8,
  '4978': 15.1,
  '5004': 11.8,
  '4988': 18.9,
  '4989': 2.0,
  '4995': 6.9,
  '4985': 10.2,
  '4990': 8.7,
  '4993': 7.9,
  '4994': 18.7,
  '4992': 4.2,
  '5010': 4.1,
  '4996': 7.1,
  '4997': 16.0,
  '5007': 17.7,
  '4999': 4.2,
  '5000': 21.4,
  '5001': 1.7,
  '5013': 3.5,
  '5005': 6.6,
  '5002': 10.5,
  '5003': 2.7,
  '5014': 16.2,
  '4846': 15.1,
  '4827': 13.7,
  '4828': 3.0,
  '4856': 19.1,
  '4839': 9.2,
  '4829': 4.3,
  '4830': 10.3,
  '4832': 5.5,
  '4834': 11.2,
  '4835': 25.9,
  '4826': 15.9,
  '4852': 10.6,
  '4836': 18.4,
  '4837': 2.9,
  '4843': 9.7,
  '4833': 9.3,
  '4838': 11.8,
  '4841': 8.2,
  '4842': 15.5,
  '4840': 8.6,
  '4858': 7.7,
  '4844': 5.8,
  '4845': 14.8,
  '4855': 11.5,
  '4847': 12.7,
  '4848': 22.0,
  '4849': 5.1,
  '4861': 6.8,
  '4853': 12.3,
  '4850': 12.4,
  '4851': 12.1,
  '4862': 15.6,
  '5036': 12.1,
  '5017': 12.7,
  '5018': 0.9,
  '5046': 24.3,
  '5029': 7.7,
  '5019': 2.9,
  '5020': 15.4,
  '5022': 4.5,
  '5024': 8.7,
  '5025': 21.9,
  '5016': 12.1,
  '5042': 12.6,
  '5026': 14.3,
  '5027': 1.6,
  '5033': 3.3,
  '5023': 12.9,
  '5028': 7.8,
  '5031': 5.2,
  '5032': 11.4,
  '5030': 4.3,
  '5048': 4.6,
  '5034': 4.7,
  '5035': 18.2,
  '5045': 10.3,
  '5037': 5.5,
  '5038': 17.0,
  '5039': 1.3,
  '5051': 2.3,
  '5043': 9.0,
  '5040': 10.7,
  '5041': 1.3,
  '5052': 12.2,
  '6138': 64.2,
  '6119': 60.1,
  '6120': 55.2,
  '6148': 55.2,
  '6131': 59.3,
  '6121': 50.7,
  '6122': 53.6,
  '6124': 63.2,
  '6126': 38.3,
  '6127': 42.4,
  '6118': 54.2,
  '6144': 70.8,
  '6128': 56.5,
  '6129': 71.4,
  '6135': 62.3,
  '6130': 41.0,
  '6133': 32.7,
  '6134': 46.9,
  '6132': 48.2,
  '6150': 52.8,
  '6136': 66.0,
  '6137': 76.3,
  '6147': 52.3,
  '6139': 64.0,
  '6140': 47.9,
  '6141': 49.3,
  '6153': 56.1,
  '6145': 63.4,
  '6142': 61.4,
  '6143': 47.6,
  '6154': 41.4,
  '6214': 52.8,
  '6195': 61.6,
  '6196': 31.3,
  '6224': 36.0,
  '6207': 32.4,
  '6197': 47.0,
  '6198': 34.6,
  '6200': 43.0,
  '6202': 32.1,
  '6203': 36.3,
  '6204': 37.0,
  '6211': 51.2,
  '6206': 47.5,
  '6209': 17.2,
  '6208': 11.0,
  '6226': 42.2,
  '6212': 53.1,
  '6213': 36.5,
  '6223': 33.7,
  '6215': 41.1,
  '6216': 48.2,
  '6217': 36.7,
  '6229': 38.4,
  '6221': 42.5,
  '6219': 26.1,
  '6230': 37.5,
  '6252': 44.6,
  '6233': 53.4,
  '6234': 25.1,
  '6262': 43.5,
  '6245': 48.7,
  '6235': 30.9,
  '6236': 45.0,
  '6238': 37.1,
  '6240': 37.8,
  '6241': 40.4,
  '6232': 42.1,
  '6242': 38.5,
  '6243': 44.7,
  '6249': 43.5,
  '6239': 63.6,
  '6244': 44.4,
  '6247': 35.3,
  '6248': 56.9,
  '6246': 16.9,
  '6264': 36.2,
  '6250': 52.4,
  '6251': 63.6,
  '6261': 36.1,
  '6253': 58.7,
  '6254': 44.1,
  '6255': 30.0,
  '6267': 34.4,
  '6259': 40.8,
  '6256': 37.3,
  '6257': 34.2,
  '6268': 37.0,
  '6290': 42.1,
  '6271': 49.8,
  '6272': 19.8,
  '6300': 43.3,
  '6283': 45.4,
  '6273': 23.0,
  '6274': 55.0,
  '6276': 32.8,
  '6278': 35.3,
  '6279': 39.3,
  '6270': 39.1,
  '6296': 56.1,
  '6280': 38.0,
  '6281': 30.2,
  '6287': 33.9,
  '6277': 51.0,
  '6282': 38.6,
  '6285': 16.4,
  '6286': 57.8,
  '6284': 12.2,
  '6302': 28.9,
  '6288': 42.9,
  '6289': 56.9,
  '6299': 44.0,
  '6291': 46.1,
  '6292': 30.3,
  '6293': 23.7,
  '6305': 36.0,
  '6297': 52.7,
  '6294': 43.6,
  '6295': 23.6,
  '6306': 39.3,
  '6328': 51.8,
  '6309': 51.4,
  '6310': 15.8,
  '6338': 54.1,
  '6321': 45.1,
  '6311': 28.5,
  '6312': 64.3,
  '6314': 31.3,
  '6316': 32.9,
  '6317': 37.2,
  '6308': 38.0,
  '6334': 68.3,
  '6318': 40.0,
  '6319': 25.5,
  '6325': 32.3,
  '6315': 58.7,
  '6320': 34.6,
  '6323': 26.7,
  '6324': 65.5,
  '6322': 16.6,
  '6340': 21.3,
  '6326': 50.5,
  '6327': 55.7,
  '6337': 39.4,
  '6329': 45.5,
  '6330': 27.5,
  '6331': 17.3,
  '6343': 30.5,
  '6335': 69.0,
  '6332': 39.0,
  '6333': 29.9,
  '6344': 38.4,
  '6176': 50.5,
  '6157': 51.6,
  '6158': 21.8,
  '6186': 48.2,
  '6169': 43.1,
  '6159': 31.3,
  '6160': 55.8,
  '6162': 37.9,
  '6164': 32.5,
  '6165': 37.9,
  '6156': 39.8,
  '6182': 62.6,
  '6166': 41.8,
  '6167': 25.8,
  '6173': 38.6,
  '6163': 56.9,
  '6168': 35.5,
  '6171': 21.2,
  '6172': 60.3,
  '6170': 17.8,
  '6188': 29.9,
  '6174': 48.7,
  '6175': 58.2,
  '6185': 43.1,
  '6177': 47.9,
  '6178': 31.9,
  '6179': 25.0,
  '6191': 31.2,
  '6183': 57.5,
  '6180': 38.2,
  '6181': 32.8,
  '6192': 38.5,
  '6366': 49.7,
  '6347': 46.7,
  '6348': 10.9,
  '6376': 48.3,
  '6359': 34.9,
  '6349': 23.6,
  '6350': 61.3,
  '6352': 21.1,
  '6354': 27.9,
  '6355': 34.6,
  '6346': 34.8,
  '6372': 57.7,
  '6356': 42.1,
  '6357': 14.7,
  '6363': 32.4,
  '6353': 56.2,
  '6358': 28.1,
  '6361': 15.2,
  '6362': 69.4,
  '6360': 12.5,
  '6378': 18.0,
  '6364': 46.9,
  '6365': 51.5,
  '6375': 37.6,
  '6367': 37.7,
  '6368': 26.3,
  '6369': 12.8,
  '6381': 16.0,
  '6373': 62.5,
  '6370': 32.5,
  '6371': 33.6,
  '6382': 38.7,
  '5872': 55.3,
  '5853': 58.9,
  '5854': 43.7,
  '5882': 63.6,
  '5865': 68.4,
  '5855': 64.1,
  '5856': 52.3,
  '5858': 52.9,
  '5860': 42.3,
  '5861': 42.7,
  '5852': 50.2,
  '5878': 66.2,
  '5862': 50.8,
  '5863': 70.1,
  '5869': 49.8,
  '5864': 37.6,
  '5867': 37.8,
  '5868': 56.5,
  '5866': 34.4,
  '5884': 48.8,
  '5870': 63.7,
  '5871': 53.2,
  '5881': 47.5,
  '5873': 55.1,
  '5874': 57.5,
  '5875': 51.6,
  '5887': 60.9,
  '5879': 58.1,
  '5876': 66.9,
  '5877': 32.7,
  '5888': 36.9,
  '5948': 47.4,
  '5929': 49.5,
  '5930': 26.7,
  '5958': 33.2,
  '5941': 43.5,
  '5932': 39.5,
  '5934': 52.9,
  '5936': 31.3,
  '5937': 40.1,
  '5954': 69.8,
  '5938': 39.3,
  '5945': 43.6,
  '5940': 36.4,
  '5944': 48.9,
  '5946': 51.4,
  '5947': 47.9,
  '5957': 36.9,
  '5949': 67.6,
  '5950': 33.7,
  '5951': 25.1,
  '5963': 32.6,
  '5955': 39.7,
  '5953': 0.0,
  '5964': 33.6,
  '5986': 49.2,
  '5967': 44.8,
  '5968': 27.7,
  '5996': 30.3,
  '5979': 48.6,
  '5969': 26.6,
  '5970': 43.7,
  '5972': 35.0,
  '5974': 38.3,
  '5975': 39.4,
  '5966': 39.8,
  '5992': 67.1,
  '5976': 34.9,
  '5977': 20.1,
  '5983': 44.6,
  '5973': 51.4,
  '5978': 43.8,
  '5981': 19.8,
  '5982': 60.5,
  '5980': 30.8,
  '5998': 32.8,
  '5984': 52.0,
  '5985': 49.7,
  '5995': 49.3,
  '5987': 39.9,
  '5988': 44.9,
  '5989': 19.8,
  '6001': 31.3,
  '5993': 47.9,
  '5990': 26.1,
  '5991': 31.8,
  '6002': 36.5,
  '6024': 38.9,
  '6005': 50.0,
  '6006': 19.0,
  '6034': 41.5,
  '6017': 45.0,
  '6007': 9.1,
  '6008': 49.0,
  '6010': 26.2,
  '6012': 36.1,
  '6013': 39.8,
  '6004': 40.0,
  '6030': 56.6,
  '6014': 39.6,
  '6015': 26.4,
  '6021': 23.5,
  '6011': 60.3,
  '6016': 41.7,
  '6019': 19.4,
  '6020': 50.1,
  '6018': 13.9,
  '6036': 26.7,
  '6022': 50.2,
  '6023': 50.6,
  '6033': 48.0,
  '6025': 32.1,
  '6026': 42.9,
  '6027': 18.2,
  '6039': 24.9,
  '6031': 49.7,
  '6028': 35.4,
  '6029': 33.7,
  '6040': 37.1,
  '6062': 44.3,
  '6043': 56.0,
  '6044': 15.7,
  '6072': 40.2,
  '6055': 49.2,
  '6045': 20.5,
  '6046': 51.4,
  '6048': 22.9,
  '6050': 35.0,
  '6051': 39.9,
  '6042': 41.6,
  '6068': 57.6,
  ...},
 'status': {'5325': 'u',
  '5320': 'u',
  '5346': 'n',
  '5331': 'u',
  '5327': 'u',
  '5335': 'u',
  '5334': 'u',
  '5338': 'u',
  '5342': 'u',
  '5344': 'u',
  '5416': 'u',
  '5426': 'u',
  '5409': 'u',
  '5399': 'u',
  '5401': 'u',
  '5400': 'u',
  '5402': 'u',
  '5404': 'u',
  '5396': 'u',
  '5422': 'u',
  '5407': 'u',
  '5403': 'u',
  '5411': 'u',
  '5412': 'u',
  '5410': 'u',
  '5428': 'u',
  '5415': 'u',
  '5425': 'u',
  '5417': 'u',
  '5423': 'u',
  '5420': 'u',
  '5421': 'u',
  '5439': 'u',
  '5438': 'u',
  '5434': 'u',
  '5460': 'u',
  '5441': 'u',
  '5463': 'u',
  '5477': 'u',
  '5472': 'u',
  '5487': 'u',
  '5486': 'u',
  '5515': 'u',
  '5510': 'u',
  '5539': 'u',
  '5363': 'u',
  '5358': 'u',
  '5553': 'u',
  '5548': 'u',
  '5059': 'u',
  '5054': 'u',
  '5080': 'u',
  '5065': 'u',
  '5061': 'u',
  '5069': 'u',
  '5070': 'u',
  '5068': 'u',
  '5076': 'u',
  '5150': 'u',
  '5160': 'u',
  '5143': 'u',
  '5133': 'u',
  '5135': 'u',
  '5134': 'u',
  '5130': 'u',
  '5156': 'u',
  '5141': 'u',
  '5147': 'u',
  '5137': 'u',
  '5145': 'u',
  '5146': 'u',
  '5144': 'u',
  '5162': 'u',
  '5149': 'u',
  '5151': 'u',
  '5154': 'u',
  '5155': 'u',
  '5188': 'u',
  '5171': 'u',
  '5173': 'u',
  '5172': 'u',
  '5168': 'u',
  '5175': 'u',
  '5183': 'u',
  '5192': 'u',
  '5193': 'u',
  '5209': 'u',
  '5211': 'u',
  '5206': 'u',
  '5221': 'u',
  '5247': 'u',
  '5249': 'u',
  '5244': 'u',
  '5259': 'u',
  '5258': 'u',
  '5097': 'u',
  '5092': 'u',
  '5285': 'u',
  '5287': 'u',
  '5282': 'u',
  '5298': 'u',
  '5296': 'u',
  '5311': 'u',
  '5307': 'u',
  '4793': 'u',
  '4788': 'u',
  '4795': 'u',
  '4869': 'u',
  '4864': 'u',
  '4890': 'u',
  '4875': 'u',
  '4871': 'u',
  '4879': 'u',
  '4880': 'u',
  '4878': 'u',
  '4896': 'u',
  '4888': 'u',
  '4907': 'u',
  '4902': 'u',
  '4945': 'u',
  '4940': 'u',
  '4983': 'u',
  '4978': 'u',
  '4831': 'u',
  '4826': 'u',
  '5021': 'u',
  '5016': 'u',
  '6123': 'u',
  '6118': 'u',
  '6129': 'u',
  '6125': 'u',
  '6133': 'u',
  '6132': 'u',
  '6136': 'u',
  '6140': 'u',
  '6142': 'u',
  '6214': 'u',
  '6224': 'u',
  '6207': 'u',
  '6197': 'u',
  '6199': 'u',
  '6198': 'u',
  '6200': 'u',
  '6202': 'u',
  '6194': 'u',
  '6220': 'u',
  '6205': 'u',
  '6201': 'u',
  '6209': 'u',
  '6210': 'u',
  '6208': 'u',
  '6226': 'u',
  '6213': 'u',
  '6223': 'u',
  '6215': 'u',
  '6221': 'u',
  '6218': 'u',
  '6219': 'u',
  '6237': 'u',
  '6236': 'u',
  '6232': 'u',
  '6258': 'u',
  '6239': 'u',
  '6261': 'u',
  '6275': 'u',
  '6270': 'u',
  '6285': 'u',
  '6284': 'u',
  '6313': 'u',
  '6308': 'u',
  '6337': 'u',
  '6161': 'u',
  '6156': 'u',
  '6351': 'u',
  '6346': 'u',
  '5857': 'u',
  '5852': 'u',
  '5878': 'u',
  '5863': 'u',
  '5859': 'u',
  '5867': 'u',
  '5868': 'u',
  '5866': 'u',
  '5874': 'u',
  '5948': 'u',
  '5958': 'u',
  '5941': 'u',
  '5931': 'u',
  '5933': 'u',
  '5932': 'u',
  '5928': 'u',
  '5954': 'u',
  '5939': 'u',
  '5945': 'u',
  '5935': 'u',
  '5943': 'u',
  '5944': 'u',
  '5942': 'u',
  '5960': 'u',
  '5947': 'u',
  '5949': 'u',
  '5952': 'u',
  '5953': 'u',
  '5986': 'u',
  '5969': 'u',
  '5971': 'u',
  '5970': 'u',
  '5966': 'u',
  '5973': 'u',
  '5981': 'u',
  '5990': 'u',
  '5991': 'u',
  '6007': 'u',
  '6009': 'u',
  '6004': 'u',
  '6019': 'u',
  '6045': 'u',
  '6047': 'u',
  '6042': 'u',
  '6057': 'u',
  '6056': 'u',
  '5895': 'u',
  '5890': 'u',
  '6083': 'u',
  '6085': 'u',
  '6080': 'u',
  '6096': 'u',
  '6094': 'u',
  '6109': 'u',
  '6105': 'u',
  '5591': 'u',
  '5586': 'u',
  '5593': 'u',
  '5667': 'u',
  '5662': 'u',
  '5688': 'u',
  '5673': 'u',
  '5669': 'u',
  '5677': 'u',
  '5678': 'u',
  '5676': 'u',
  '5694': 'u',
  '5686': 'u',
  '5705': 'u',
  '5700': 'u',
  '5743': 'u',
  '5738': 'u',
  '5781': 'u',
  '5776': 'u',
  '5629': 'u',
  '5624': 'u',
  '5819': 'u',
  '5814': 'u',
  '8513': 'n',
  '8514': 'n',
  '8515': 'n',
  '8517': 'u',
  '8512': 'u',
  '8523': 'u',
  '8529': 'n',
  '8519': 'u',
  '8527': 'u',
  '8528': 'n',
  '8526': 'u',
  '8530': 'u',
  '8541': 'n',
  '8533': 'n',
  '8534': 'u',
  '8536': 'u',
  '8537': 'n',

In [50]:
df = pd.json_normalize(data)
df

,version,class,label,source,updated,id,size,value.5340,value.5321,value.5322,...,extension.status.label.u,extension.status.label.n,extension.positions-with-no-data.freq,extension.positions-with-no-data.unit,extension.positions-with-no-data.isced11,extension.positions-with-no-data.frequenc,extension.positions-with-no-data.sex,extension.positions-with-no-data.age,extension.positions-with-no-data.geo,extension.positions-with-no-data.time
0,2.0,dataset,Persons being happy in the last 4 weeks by sex...,ESTAT,2024-04-22T23:00:00+0200,"[freq, unit, isced11, frequenc, sex, age, geo,...","[1, 1, 5, 6, 3, 7, 38, 1]",9.5,17.7,4.6,...,low reliability,not significant,[],[],[4],[],[],[],"[28, 31, 33, 34, 37]",[]

In [51]:
print(df['id'])

0    [freq, unit, isced11, frequenc, sex, age, geo,...
Name: id, dtype: object

In [52]:
from pyjstat import pyjstat

collection = pyjstat.Dataset.read(url)

# write to dataframe
df = collection.write('dataframe')

# read from dataframe
dataset_from_df = pyjstat.Dataset.read(df)

df

,Time frequency,Unit of measure,International Standard Classification of Education (ISCED 2011),Frequency,Sex,Age class,Geopolitical entity (reporting),Time,value
0,Annual,Percentage,All ISCED 2011 levels,Always,Total,From 16 to 24 years,European Union - 27 countries (from 2020),2022,19.1
1,Annual,Percentage,All ISCED 2011 levels,Always,Total,From 16 to 24 years,Belgium,2022,19.6
2,Annual,Percentage,All ISCED 2011 levels,Always,Total,From 16 to 24 years,Bulgaria,2022,14.9
3,Annual,Percentage,All ISCED 2011 levels,Always,Total,From 16 to 24 years,Czechia,2022,8.6
4,Annual,Percentage,All ISCED 2011 levels,Always,Total,From 16 to 24 years,Denmark,2022,8.5
...,...,...,...,...,...,...,...,...,...
23935,Annual,Percentage,Short-cycle tertiary education and Bachelor's ...,Unknown,Females,75 years or over,North Macedonia,2022,NaN
23936,Annual,Percentage,Short-cycle tertiary education and Bachelor's ...,Unknown,Females,75 years or over,Albania,2022,NaN
23937,Annual,Percentage,Short-cycle tertiary education and Bachelor's ...,Unknown,Females,75 years or over,Serbia,2022,NaN
23938,Annual,Percentage,Short-cycle tertiary education and Bachelor's ...,Unknown,Females,75 years or over,Türkiye,2022,NaN
23939,Annual,Percentage,Short-cycle tertiary education and Bachelor's ...,Unknown,Females,75 years or over,Kosovo*,2022,NaN

In [53]:
def get_eurostat_data(article_title, *args):
    '''
    To Do:
        - Write *args
        - Write _url_builder() helper func.
    '''
    
    article_title = article_title.upper()
    url = f'https://ec.europa.eu/eurostat/api/dissemination/statistics/1.0/data/{article_title}?format=JSON&lang=EN'

    output = pyjstat.Dataset.read(url)
    df = output.write('dataframe')

    return df

In [54]:
crime = get_eurostat_data('crim_off_cat')
crime

,Time frequency,International classification of crime for statistical purposes (ICCS),Unit of measure,Geopolitical entity (reporting),Time,value
0,Annual,Intentional homicide,Number,Belgium,2008,204.00
1,Annual,Intentional homicide,Number,Belgium,2009,189.00
2,Annual,Intentional homicide,Number,Belgium,2010,189.00
3,Annual,Intentional homicide,Number,Belgium,2011,214.00
4,Annual,Intentional homicide,Number,Belgium,2012,206.00
...,...,...,...,...,...,...
25825,Annual,Participation in an organized criminal group,Per hundred thousand inhabitants,Kosovo*,2018,0.11
25826,Annual,Participation in an organized criminal group,Per hundred thousand inhabitants,Kosovo*,2019,0.17
25827,Annual,Participation in an organized criminal group,Per hundred thousand inhabitants,Kosovo*,2020,0.28
25828,Annual,Participation in an organized criminal group,Per hundred thousand inhabitants,Kosovo*,2021,NaN
25829,Annual,Participation in an organized criminal group,Per hundred thousand inhabitants,Kosovo*,2022,NaN

In [55]:
happiness = get_eurostat_data('ilc_pw08')
happiness

,Time frequency,Unit of measure,International Standard Classification of Education (ISCED 2011),Frequency,Sex,Age class,Geopolitical entity (reporting),Time,value
0,Annual,Percentage,All ISCED 2011 levels,Always,Total,From 16 to 24 years,European Union - 27 countries (from 2020),2013,16.2
1,Annual,Percentage,All ISCED 2011 levels,Always,Total,From 16 to 24 years,European Union - 27 countries (from 2020),2018,19.5
2,Annual,Percentage,All ISCED 2011 levels,Always,Total,From 16 to 24 years,European Union - 27 countries (from 2020),2022,19.1
3,Annual,Percentage,All ISCED 2011 levels,Always,Total,From 16 to 24 years,Belgium,2013,16.7
4,Annual,Percentage,All ISCED 2011 levels,Always,Total,From 16 to 24 years,Belgium,2018,18.7
...,...,...,...,...,...,...,...,...,...
71815,Annual,Percentage,Short-cycle tertiary education and Bachelor's ...,Unknown,Females,75 years or over,Türkiye,2018,NaN
71816,Annual,Percentage,Short-cycle tertiary education and Bachelor's ...,Unknown,Females,75 years or over,Türkiye,2022,NaN
71817,Annual,Percentage,Short-cycle tertiary education and Bachelor's ...,Unknown,Females,75 years or over,Kosovo*,2013,NaN
71818,Annual,Percentage,Short-cycle tertiary education and Bachelor's ...,Unknown,Females,75 years or over,Kosovo*,2018,NaN
71819,Annual,Percentage,Short-cycle tertiary education and Bachelor's ...,Unknown,Females,75 years or over,Kosovo*,2022,NaN

In [56]:
train_system = get_eurostat_data('ttr00015')
train_system

,Time frequency,Unit of measure,Transport coverage,Geopolitical entity (reporting),Time,value
0,Annual,Millions of passenger-kilometres,Total transport,European Union - 27 countries (from 2020),2011,NaN
1,Annual,Millions of passenger-kilometres,Total transport,European Union - 27 countries (from 2020),2012,NaN
2,Annual,Millions of passenger-kilometres,Total transport,European Union - 27 countries (from 2020),2013,NaN
3,Annual,Millions of passenger-kilometres,Total transport,European Union - 27 countries (from 2020),2014,NaN
4,Annual,Millions of passenger-kilometres,Total transport,European Union - 27 countries (from 2020),2015,375713.0
...,...,...,...,...,...,...
475,Annual,Millions of passenger-kilometres,Total transport,Türkiye,2018,4374.0
476,Annual,Millions of passenger-kilometres,Total transport,Türkiye,2019,4912.0
477,Annual,Millions of passenger-kilometres,Total transport,Türkiye,2020,1520.0
478,Annual,Millions of passenger-kilometres,Total transport,Türkiye,2021,2251.0
479,Annual,Millions of passenger-kilometres,Total transport,Türkiye,2022,5922.0

In [57]:
leisure = get_eurostat_data('ilc_scp01')
leisure

,Time frequency,Frequency,International Standard Classification of Education (ISCED 2011),Age class,Sex,Unit of measure,Geopolitical entity (reporting),Time,value
0,Annual,Not in the last 12 months,All ISCED 2011 levels,From 16 to 24 years,Total,Percentage,European Union - 27 countries (from 2020),2006,NaN
1,Annual,Not in the last 12 months,All ISCED 2011 levels,From 16 to 24 years,Total,Percentage,European Union - 27 countries (from 2020),2015,12.4
2,Annual,Not in the last 12 months,All ISCED 2011 levels,From 16 to 24 years,Total,Percentage,European Union - 27 countries (from 2020),2022,NaN
3,Annual,Not in the last 12 months,All ISCED 2011 levels,From 16 to 24 years,Total,Percentage,Belgium,2006,6.4
4,Annual,Not in the last 12 months,All ISCED 2011 levels,From 16 to 24 years,Total,Percentage,Belgium,2015,9.8
...,...,...,...,...,...,...,...,...,...
51835,Annual,At least once,Tertiary education (levels 5-8),75 years or over,Females,Percentage,Serbia,2015,30.6
51836,Annual,At least once,Tertiary education (levels 5-8),75 years or over,Females,Percentage,Serbia,2022,26.0
51837,Annual,At least once,Tertiary education (levels 5-8),75 years or over,Females,Percentage,Türkiye,2006,NaN
51838,Annual,At least once,Tertiary education (levels 5-8),75 years or over,Females,Percentage,Türkiye,2015,NaN
51839,Annual,At least once,Tertiary education (levels 5-8),75 years or over,Females,Percentage,Türkiye,2022,0.0

In [58]:
social_exclusion = get_eurostat_data('ilc_peps01n')
social_exclusion

,Time frequency,Unit of measure,Age class,Sex,Geopolitical entity (reporting),Time,value
0,Annual,Thousand persons,Total,Total,"European Union (EU6-1958, EU9-1973, EU10-1981,...",2014,NaN
1,Annual,Thousand persons,Total,Total,"European Union (EU6-1958, EU9-1973, EU10-1981,...",2015,119632.0
2,Annual,Thousand persons,Total,Total,"European Union (EU6-1958, EU9-1973, EU10-1981,...",2016,117794.0
3,Annual,Thousand persons,Total,Total,"European Union (EU6-1958, EU9-1973, EU10-1981,...",2017,112399.0
4,Annual,Thousand persons,Total,Total,"European Union (EU6-1958, EU9-1973, EU10-1981,...",2018,109997.0
...,...,...,...,...,...,...,...
89755,Annual,Percentage,75 years or over,Females,Türkiye,2019,26.2
89756,Annual,Percentage,75 years or over,Females,Türkiye,2020,25.8
89757,Annual,Percentage,75 years or over,Females,Türkiye,2021,20.3
89758,Annual,Percentage,75 years or over,Females,Türkiye,2022,NaN
89759,Annual,Percentage,75 years or over,Females,Türkiye,2023,NaN

In [59]:
pop_demo = get_eurostat_data('demo_pjangroup')

print(f"Count before dropping NaN values: {pop_demo.shape}")
print(f"Count after dropping NaN values: {pop_demo.dropna().shape}")

Count before dropping NaN values: (253440, 7)
Count after dropping NaN values: (162376, 7)